html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  background-color: black;
}

header {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  padding: 9px;
  background-image: linear-gradient(to bottom left, rgb(0, 255, 0), black, black, black);
}

@font-face {
  font-family: "digital";
  src: url(../fonts/digital-7.ttf);
}
a {
  color: #fff;
  text-decoration: none;
}

.p-menu1 {
  height: 100%;
  position: absolute;
  z-index: 10;
}

.navigation {
  display: flex;
}

/* Hamburger */
.hamburger1 {
  height: 39px;
  margin-top: 11px;
  margin-left: 32px;
  margin-bottom: 10px;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  z-index: 120;
  cursor: pointer;
  filter: invert(100);
}

.hamburger1 div {
  background-color: rgb(61, 61, 61);
  position: relative;
  width: 40px;
  height: 5px;
  margin-top: 7px;
  transition: all 0.2s ease-in-out;
}

#toggle1 {
  display: none;
}

#toggle1:checked + .hamburger1 .top {
  transform: rotate(-45deg);
  margin-top: 22.5px;
}

#toggle1:checked + .hamburger1 .meat {
  transform: rotate(45deg);
  margin-top: -5px;
}

#toggle1:checked + .hamburger1 .bottom {
  transform: scale(0);
}

#toggle1:checked ~ .menu1 {
  height: 100vh;
}

/* Menu */
.menu1 {
  position: absolute;
  width: 100vw;
  background-color: black;
  text-align: center;
  display: flex;
  padding: 0;
  list-style: none;
  height: 0px;
  overflow: hidden;
  transition: height 0.4s ease;
  z-index: 20;
  transition: all 0.3s ease;
  flex-direction: column;
  opacity: 0.8;
}

.menu1 a:first-child {
  margin-top: 50px;
}

.menu1 a:last-child {
  margin-bottom: 40px;
}

.link1 {
  width: 100%;
  margin: 0;
  padding: 10px 0;
  font: 300 20px "Courier", sans-serif;
  text-transform: uppercase;
}

.link1:hover {
  background-color: black;
  color: rgb(34, 255, 0);
  transition: all 0.3s ease;
}

.room {
  width: 100%;
  height: 100%;
  position: relative;
}

.ashtray-animation {
  position: absolute;
  z-index: 8;
  top: 54%;
  left: 23%;
  width: 5%;
  height: 6%;
}

.chair {
  top: 48%;
  left: 9%;
  width: 25%;
  height: 52%;
  position: absolute;
  z-index: 7;
}

.plant {
  top: 12%;
  left: 24%;
  width: 17%;
  height: 27%;
  position: absolute;
  z-index: 5;
}

.carpet {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
}

.backdrop {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}

.baseboard {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
}

.bulletin-board {
  top: 7%;
  left: 33%;
  width: 37.5%;
  height: 36%;
  position: absolute;
  z-index: 3;
}

.stereo {
  top: 7%;
  left: 84%;
  width: 15%;
  height: 19%;
  position: absolute;
  z-index: 5;
  transition: all 0.3s ease-in-out;
}
.stereo:hover, .stereo:hover + .stereo-glow, .stereo:focus {
  transform: scale(1.05);
  cursor: pointer;
  visibility: visible;
}

.stereo-glow {
  top: -0.1%;
  left: 87.3%;
  width: 12%;
  height: 19%;
  position: absolute;
  transition: all 0s ease-in-out;
  pointer-events: none;
  visibility: hidden;
  z-index: 10;
}

.dj {
  top: 83%;
  left: 32%;
  width: 27%;
  height: 16%;
  position: absolute;
  z-index: 9;
  transition: all 0.3s ease-in-out;
}
.dj:hover, .dj:hover + .dj-glow, .dj:focus {
  visibility: visible;
  transform: scale(1.1);
  cursor: pointer;
}

.dj-glow {
  top: 81.9%;
  left: 29.3%;
  width: 35.2%;
  height: 19%;
  z-index: 11;
  position: absolute;
  transition: all 0s ease-in-out;
  pointer-events: none;
}

.mixer-wire {
  top: 59%;
  left: 27%;
  width: 15%;
  height: 25%;
  position: absolute;
  z-index: 3;
}

.mixer-neon {
  visibility: hidden;
  top: 81.9%;
  left: 29.3%;
  width: 100%;
  height: 19%;
  z-index: 8;
  position: absolute;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
}

.soundcloud {
  visibility: hidden;
  position: absolute;
  z-index: 10;
  top: 65%;
  left: 4%;
  width: 28%;
  height: 30%;
  border: 1px rgb(47, 255, 0) solid;
}
.soundcloud:hover {
  border: 2px white solid;
}

.github {
  display: none;
  position: absolute;
  z-index: 5;
  width: 5%;
  height: 4.3%;
  top: 33%;
  right: 33%;
  transition: all ease-in-out 0.2s;
}
.github:hover {
  transform: scale(1.15);
  cursor: pointer;
}

.about-me {
  top: 12%;
  right: 44.5%;
  width: 14.2%;
  height: 16.6%;
  position: absolute;
  z-index: 5;
  transition: all 0.3s ease-in-out;
}
.about-me:hover, .about-me:focus {
  transform: scale(1.1);
  cursor: pointer;
}

.about-me-anchor:hover + .about-neon {
  visibility: visible;
}

.about-neon {
  top: 5.6%;
  right: 40.9%;
  width: 23.1%;
  height: 30.1%;
  position: absolute;
  z-index: 4;
  pointer-events: none;
  transition: all 0s ease-in-out;
  visibility: hidden;
}

.info {
  top: 23%;
  left: 57%;
  width: 4%;
  height: 6%;
  position: absolute;
  z-index: 5;
  transition: all 0.3s ease-in-out;
}
.info:hover, .info:hover + .info-neon, .info:hover + .info-hover, .info:focus {
  transform: scale(1.2);
  cursor: pointer;
  visibility: visible;
}

.info-neon {
  top: 19.1%;
  left: 53.7%;
  width: 10.1%;
  height: 14.2%;
  position: absolute;
  z-index: 4;
  pointer-events: none;
  transition: all 0.1s ease-in-out;
  opacity: 0.8;
  visibility: hidden;
}

.info-hover {
  visibility: hidden;
  position: absolute;
  position: absolute;
  z-index: 10;
  background-color: black;
  top: 31%;
  left: 40%;
  border: 1px rgb(0, 255, 17) solid;
  width: 275px;
  height: 197px;
  font-family: "Courier New", Courier, monospace;
}
.info-hover p {
  color: white;
  padding: 10px 20px;
  font-family: "Courier New", Courier, monospace;
  font-size: 0.9rem;
  margin: 0;
}
.info-hover p:first-child {
  margin-top: 6px;
}
.info-hover p:last-child {
  margin-top: -10px;
}

.contact {
  top: 12%;
  left: 57%;
  width: 8%;
  height: 11%;
  position: absolute;
  z-index: 5;
  transition: all 0.3s ease-in-out;
}
.contact:hover, .contact:focus {
  transform: scale(1.1);
  cursor: pointer;
}

.contact-anchor:hover + .contact-neon {
  visibility: visible;
}

.contact-neon {
  top: 6.9%;
  left: 54%;
  width: 14.7%;
  height: 19%;
  position: absolute;
  z-index: 4;
  pointer-events: none;
  transition: all 0.1s ease-in-out;
  visibility: hidden;
}

.lamp {
  top: 18.5%;
  left: 18.5%;
  width: 10%;
  height: 66%;
  position: absolute;
  z-index: 3;
}

.switch {
  top: 29%;
  left: 80%;
  width: 3.3%;
  height: 7%;
  position: absolute;
  z-index: 4;
  transition: all 0.3s ease-in-out;
}
.switch:hover, .switch:hover + .lamp-neon, .switch:focus {
  transform: scale(1.2);
  cursor: pointer;
  visibility: visible;
}

.lamp-neon {
  top: 24.3%;
  left: 75.5%;
  width: 12.5%;
  height: 17%;
  position: absolute;
  z-index: 3;
  pointer-events: none;
  transition: all 0.1s ease-in-out;
  visibility: hidden;
}

.power-socket {
  top: 1%;
  left: 6.5%;
  width: 91%;
  height: 94%;
  pointer-events: none;
  position: absolute;
  z-index: 3;
}

.power {
  top: 0;
  left: 0%;
  width: 100%;
  height: 100%;
  pointer-events: none;
  position: absolute;
  z-index: 3;
}

.power-glow {
  top: 70.3%;
  left: 43.3%;
  width: 13%;
  height: 17.8%;
  z-index: 4;
  position: absolute;
  transition: all 0s ease-in-out;
  pointer-events: none;
}

.cody-art {
  top: 7%;
  left: 12.7%;
  width: 15.6%;
  height: 31%;
  position: absolute;
  z-index: 2;
  pointer-events: none;
}

.adam-art {
  top: 10%;
  left: 0%;
  width: 9%;
  height: 32%;
  position: absolute;
  z-index: 6;
  pointer-events: none;
}

.clothing {
  top: 69%;
  left: 72%;
  width: 28%;
  height: 31%;
  position: absolute;
  z-index: 6;
  pointer-events: none;
}

.lilypadmag {
  top: 18%;
  left: 31%;
  width: 60%;
  height: 100%;
  position: absolute;
  z-index: 2;
  pointer-events: none;
}

.poster {
  top: 6%;
  left: 12%;
  width: 17%;
  height: 33%;
  position: absolute;
  z-index: 2;
}

.desk {
  top: 48%;
  left: 19%;
  width: 66%;
  height: 40%;
  position: absolute;
  z-index: 4;
}

.door {
  top: 7%;
  left: 0%;
  width: 12%;
  height: 90%;
  position: absolute;
  z-index: 3;
}

.dresser {
  top: 25%;
  left: 84%;
  width: 16%;
  height: 60%;
  position: absolute;
  z-index: 3;
}

.skills-anchor:hover + .tech-stack-neon {
  visibility: visible;
}

.tech-stack {
  top: 67%;
  left: 62%;
  width: 17%;
  height: 17%;
  position: absolute;
  z-index: 6;
  transition: all 0.3s ease-in-out;
}
.tech-stack:hover, .tech-stack:focus {
  transform: scale(1.1);
  cursor: pointer;
}

.tech-stack-neon {
  top: 59%;
  left: 57.5%;
  width: 24%;
  height: 33.3%;
  position: absolute;
  z-index: 5;
  pointer-events: none;
  transition: all 0.1s ease-in-out;
  visibility: hidden;
}

.beat-store-anchor:hover + .music-glow {
  display: inline;
}

.keyboard {
  top: 44%;
  left: 47%;
  width: 24%;
  height: 8%;
  position: absolute;
  z-index: 6;
  transition: all 0.3s ease-in-out;
}
.keyboard:hover, .keyboard:focus {
  transform: scale(1.1);
  cursor: pointer;
}

.music-glow {
  display: none;
  z-index: 7;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.keyboard-glow {
  top: 41%;
  left: 52%;
  width: 24%;
  height: 8%;
  position: absolute;
  z-index: 6;
  pointer-events: none;
  transition: all 0s ease-in-out;
}

.right-speaker {
  top: 37%;
  left: 71%;
  width: 8.5%;
  height: 16%;
  position: absolute;
  z-index: 5;
  transition: all 0.3s ease-in-out;
}

.speaker-glow {
  top: 36.05%;
  left: 71.9%;
  width: 3.2%;
  height: 20%;
  position: absolute;
  z-index: 6;
  pointer-events: none;
}

.left-speaker {
  top: 37%;
  left: 28%;
  width: 8.5%;
  height: 16%;
  position: absolute;
  z-index: 5;
}

.left-speaker-glow {
  top: 36.2%;
  left: 27.5%;
  width: 3.2%;
  height: 20%;
  position: absolute;
  z-index: 7;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
}

.keyboard-neon {
  top: 38.9%;
  left: 29.4%;
  width: 3.2%;
  height: 16%;
  position: absolute;
  z-index: 7;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
}

.phone {
  display: none;
  top: 30%;
  left: 69.5%;
  width: 10%;
  height: 12.5%;
  position: absolute;
  z-index: 8;
  transition: all 0.3s ease-in-out;
}
.phone:hover, .phone:focus {
  transform: scale(1.2);
  cursor: pointer;
}

.phone-neon {
  top: 24.5%;
  left: 65.6%;
  width: 16.5%;
  height: 21%;
  position: absolute;
  z-index: 7;
  pointer-events: none;
  transition: all 0.1s ease-in-out;
  visibility: hidden;
}

.phone-anchor:hover + .phone-neon {
  visibility: visible;
}

.black-screen {
  position: absolute;
  width: 9.8%;
  z-index: 7;
  right: 56%;
  top: 31.5%;
  transition: all ease-in-out 0.3s;
  pointer-events: none;
  height: 16%;
}

.internet {
  position: absolute;
  width: 8.8%;
  z-index: 8;
  right: 56.5%;
  top: 32.5%;
  rotate: 2deg;
  opacity: 0.9;
  transition: all ease-in-out 0.3s;
  pointer-events: none;
  height: 12%;
}

.computer-monitor {
  top: 30%;
  left: 34%;
  width: 16.8%;
  height: 24%;
  position: absolute;
  z-index: 7;
  transition: all 0.2s ease-in-out;
}
.computer-monitor:hover, .computer-monitor:focus {
  transform: scale(1.1);
  cursor: pointer;
  display: inline;
}

.computer-anchor:hover + .comp-glow {
  transform: scale(1.1);
  display: inline;
  opacity: 1;
}

.comp-glow {
  display: none;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.computer-glow {
  top: 18.2%;
  left: 20.2%;
  width: 31%;
  height: 40%;
  position: absolute;
  z-index: 8;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
}

.computer-tower {
  top: 56%;
  left: 53%;
  width: 8%;
  height: 25%;
  position: absolute;
  z-index: 6;
}

.tower-glow {
  top: 60%;
  left: 53.5%;
  width: 2.5%;
  height: 3%;
  position: absolute;
  z-index: 8;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
}

.mouse-glow {
  top: 55.5%;
  left: 45.5%;
  width: 2.5%;
  height: 3%;
  position: absolute;
  z-index: 8;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
}

.computer-keyboard {
  top: 55%;
  left: 27%;
  width: 24%;
  height: 6%;
  position: absolute;
  z-index: 6;
  transition: all 0.3s ease-in-out;
}

.shade {
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 94%;
  height: 100%;
  position: absolute;
  z-index: 3;
  pointer-events: none;
}

.light {
  top: 0;
  left: -1%;
  width: 100%;
  height: 107%;
  position: absolute;
  z-index: 10;
  pointer-events: none;
  visibility: hidden;
}

.dark {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
  opacity: 0.7;
  background-color: black;
  pointer-events: none;
  display: none;
}

.clock {
  position: absolute;
  z-index: 6;
  top: 36.75%;
  left: 75.7%;
  transform: translateX(-50%) translateY(-50%);
  color: rgb(0, 255, 0);
  font-size: 1.7vw;
  font-family: "digital";
  letter-spacing: 5px;
  pointer-events: none;
}

.clock-image {
  position: absolute;
  z-index: 6;
  top: 33%;
  left: 70.5%;
  width: 9%;
  height: 6%;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.about-me-page {
  height: 100%;
  width: 76%;
  z-index: 1;
  position: absolute;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 20px;
}

.background {
  position: absolute;
  width: 200%;
  height: 150%;
  z-index: 0;
  top: -21%;
  left: -20%;
}

.home {
  z-index: 3;
  position: absolute;
  height: auto;
  top: 6%;
  left: 85%;
  font-size: 1rem;
  width: 43px;
  padding-bottom: 5px;
  transition: all ease-in-out 0.3s;
}
.home:hover {
  cursor: pointer;
  border-bottom: red 3px solid;
}

@media (min-width: 1200px) {
  .about-me-page {
    width: 60%;
  }
}
@media (max-width: 750px) {
  .about-me-page {
    width: 100%;
  }
}
@media (max-width: 580px) {
  .about-me-page {
    margin-top: 60px;
    height: 80%;
  }
}
@media (max-width: 475px) {
  .about-me-page {
    margin-top: 80px;
    height: 70%;
  }
}
@media (max-width: 380px) {
  .about-me-page {
    margin-top: 80px;
    height: 70%;
    width: 110%;
  }
}
.beat-store-container {
  display: flex;
  justify-content: center;
  background-color: black;
  flex-direction: column;
}
.beat-store-container h1 {
  margin-top: 30px;
  color: rgb(21, 255, 0);
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  text-transform: uppercase;
}

.beat-store-home {
  z-index: 3;
  position: absolute;
  height: auto;
  filter: invert(100);
  top: 16px;
  right: 35px;
  width: 40px;
  padding-bottom: 5px;
  transition: all ease-in-out 0.1s;
  opacity: 0.7;
}
.beat-store-home:hover {
  cursor: pointer;
  border-bottom: rgb(0, 213, 255) 3px solid;
}

.container {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  padding-bottom: 200px;
}

.beat-store {
  height: 85vh;
  border: none;
}

.skills {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 80px;
  padding-bottom: 50px;
  position: relative;
}

.skills-paper {
  height: 550px;
  width: 450px;
  z-index: 2;
  position: absolute;
}

.skills-title {
  height: 700px;
  width: 450px;
  top: 70px;
  z-index: 3;
  position: absolute;
}

.skill {
  height: 550px;
  width: 480px;
  z-index: 4;
  position: absolute;
}
.skill:hover + .skill-names, .skill:hover, .skill:focus {
  display: inline-block;
}

.skill-names {
  height: 550px;
  width: 480px;
  z-index: 4;
  position: absolute;
  display: none;
  transition: all ease-in-out 0.3s;
  pointer-events: none;
}

@media (max-width: 550px) {
  .skills-paper {
    height: 500px;
    width: 400px;
  }
  .skills-title {
    height: 760px;
    width: 410px;
  }
  .skill {
    height: 500px;
    width: 400px;
  }
  .skill-names {
    height: 500px;
    width: 400px;
  }
}
@media (max-width: 450px) {
  .skills-paper {
    height: 400px;
    width: 300px;
    z-index: 2;
    position: absolute;
  }
  .skills-title {
    height: 500px;
    width: 300px;
    z-index: 3;
    position: absolute;
  }
  .skill {
    height: 400px;
    width: 300px;
    z-index: 4;
    position: absolute;
  }
  .skill:hover + .skill-names, .skill:hover, .skill:focus {
    display: inline-block;
  }
  .skill-names {
    height: 400px;
    width: 300px;
    z-index: 4;
    position: absolute;
    display: none;
    transition: all ease-in-out 0.3s;
    pointer-events: none;
  }
}
.projects-html {
  overflow: visible;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.projects h1 {
  margin-top: 30px;
  color: rgb(21, 255, 0);
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  text-transform: uppercase;
}
.projects .project {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  width: 50%;
  position: relative;
}
.projects .project:last-of-type {
  margin-bottom: 100px;
}
.projects .project:first-of-type {
  margin-top: 10px;
}

.project-img {
  width: 100%;
}

.project-hover {
  z-index: 3;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: black;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.project-hover:hover {
  opacity: 0.7;
}

.project-hover-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid rgb(38, 255, 0);
}

.iconContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.enter {
  color: white;
  font-size: 6rem;
  transition: all 0.3s ease-in-out;
}
.enter:hover, .enter:focus {
  color: red;
}
.enter:hover + .iconDescription {
  opacity: 1;
}

.iconDescription {
  color: white;
  opacity: 0;
  font-size: 0.8rem;
  font-family: "Courier New", Courier, monospace;
  margin: -10px;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}

.projects-home {
  z-index: 3;
  position: absolute;
  height: auto;
  filter: invert(100);
  top: 30px;
  right: 152px;
  width: 49px;
  padding-bottom: 5px;
  transition: all ease-in-out 0.1s;
}
.projects-home:hover {
  cursor: pointer;
  border-bottom: rgb(0, 213, 255) 3px solid;
}

.music-player-full-page {
  background-image: black;
  width: 100vw;
  height: 10;
  top: 0;
  bottom: 0;
  position: absolute;
  border: 1px solid rgb(0, 255, 0);
}

.music-player {
  visibility: hidden;
  background-color: black;
  width: 350px;
  height: 10;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 10;
  border: 1px solid rgb(89, 255, 0);
}
.music-player:hover {
  border: 1px solid white;
}

/* Using flex with the column direction to
align items in a vertical direction */
.player {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-family: "Courier New", Courier, monospace;
  color: white;
}

.details {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 25px;
}

.track-art {
  margin: 25px;
  height: 250px;
  width: 250px;
  background-image: URL("https://source.unsplash.com/Qrspubmx6kE/640x360");
  background-size: cover;
  background-position: center;
}

/* Changing the font sizes to suitable ones */
.now-playing {
  font-size: 1rem;
}

.track-name {
  font-size: 1rem;
}

.track-artist {
  font-size: 1rem;
}

/* Using flex with the row direction to
align items in a horizontal direction */
.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.playpause-track,
.prev-track,
.next-track {
  padding: 20px;
  opacity: 0.8;
  /* Smoothly transition the opacity */
  transition: opacity 0.2s;
}

/* Change the opacity when mouse is hovered */
.playpause-track:hover,
.prev-track:hover,
.next-track:hover {
  opacity: 1;
}

/* Define the slider width so that it scales properly */
.slider_container {
  width: 80%;
  max-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Modify the appearance of the slider */
.seek_slider, .volume_slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 5px;
  background: black;
  opacity: 0.7;
  transition: opacity 0.2s;
}

/* Modify the appearance of the slider thumb */
.seek_slider::-webkit-slider-thumb,
.volume_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: white;
  cursor: pointer;
  border-radius: 50%;
}

/* Change the opacity when mouse is hovered */
.seek_slider:hover,
.volume_slider:hover {
  opacity: 1;
}

.seek_slider {
  width: 60%;
}

.volume_slider {
  width: 30%;
}

.current-time,
.total-duration {
  padding: 10px;
}

i.fa-volume-down,
i.fa-volume-up {
  padding: 10px;
}

/* Change the mouse cursor to a pointer
when hovered over */
i.fa-play-circle,
i.fa-pause-circle,
i.fa-step-forward,
i.fa-step-backward {
  cursor: pointer;
}

.radio-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 160px;
  justify-content: center;
  flex-direction: column;
}

.soundcloud-full-page {
  width: 100%;
  height: 100%;
  border: 1px solid rgb(0, 255, 0);
}
.soundcloud-full-page:hover {
  border: 1px solid white;
}

h1 {
  margin-top: 30px;
  color: rgb(21, 255, 0);
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  text-transform: uppercase;
}

@media (max-width: 810px) {
  .radio-container {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 160px;
  }
}
@media (max-width: 470px) {
  .radio-container {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 160px;
  }
}
@media (max-width: 410px) {
  .radio-container {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 160px;
  }
}
.contact-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 60px 100px;
  position: relative;
}

.send-email {
  filter: invert(100);
  width: 250px;
  transition: all ease-in-out 0.3s;
}
.send-email:hover, .send-email:hover + .contact-hover {
  transform: scale(1.1);
  visibility: visible;
}

.flex-container {
  display: flex;
  flex-direction: column;
}
.flex-container h1 {
  margin-top: 30px;
  color: rgb(21, 255, 0);
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  text-transform: uppercase;
}

.contact-hover {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  display: flex;
  justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.contact-hover-text {
  color: rgb(21, 255, 0);
  font-family: "Courier New", Courier, monospace;
  text-transform: uppercase;
  margin-top: 290px;
}

@media (max-width: 460px) {
  .contact-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 60px 0px;
    position: relative;
  }
  .flex-container h1 {
    margin-top: 70px;
    margin-bottom: -20px;
  }
}
@media (max-width: 810px) {
  .projects .project {
    width: 70%;
  }
}
@media (max-width: 410px) {
  .projects .project {
    width: 100%;
  }
  .projects h1 {
    margin-top: 70px;
  }
}
@media (max-width: 810px) {
  .dresser {
    display: none;
  }
  .stereo {
    display: none;
  }
  .door {
    display: none;
  }
  .adam-art {
    display: none;
  }
  .clothing {
    top: 66%;
    left: 84%;
    width: 35%;
    height: 33%;
  }
  .lilypadmag {
    top: 9%;
    left: 34%;
    width: 73%;
    height: 110%;
  }
  .baseboard {
    top: -40%;
    height: 150%;
  }
  .desk {
    top: 48%;
    left: -1%;
    width: 101%;
    height: 42%;
  }
  .right-speaker {
    top: 32%;
    left: 80%;
    width: 13.5%;
    height: 21%;
  }
  .left-speaker {
    top: 32%;
    left: 13%;
    width: 13.5%;
    height: 21%;
  }
  .keyboard {
    top: 43%;
    left: 46%;
    width: 35%;
    height: 9%;
  }
  .speaker-glow {
    top: 30.9%;
    left: 81.3%;
    width: 5.2%;
    height: 26%;
  }
  .left-speaker-glow {
    top: 31.3%;
    left: 12.3%;
    width: 5.2%;
    height: 26%;
  }
  .keyboard-glow {
    top: 40%;
    left: 57.5%;
    width: 28%;
    height: 8%;
  }
  .dj {
    top: 83%;
    left: 34%;
    width: 33%;
    height: 17%;
  }
  .mixer-wire {
    top: 62%;
    left: 27%;
    width: 15%;
    height: 25%;
  }
  .soundcloud {
    top: 48%;
    left: 9%;
    width: 41%;
    height: 34%;
  }
  .clock-image {
    top: 29%;
    left: 81%;
    width: 12%;
    height: 6%;
  }
  .clock {
    top: 32.75%;
    left: 87.7%;
  }
  .computer-monitor {
    top: 24%;
    left: 26%;
    width: 25.8%;
    height: 30%;
  }
  .computer-keyboard {
    top: 55%;
    left: 13%;
    width: 38%;
    height: 7.5%;
  }
  .computer-tower {
    top: 56%;
    left: 50%;
    width: 11%;
    height: 28%;
  }
  .black-screen {
    width: 14.3%;
    right: 59.3%;
    top: 26.5%;
    height: 19%;
  }
  .internet {
    width: 13.8%;
    right: 59.5%;
    top: 27%;
    height: 15.4%;
  }
  .computer-glow {
    top: 16.4%;
    left: 3.7%;
    width: 50%;
    height: 40%;
  }
  .tower-glow {
    top: 60.7%;
    left: 50.3%;
    width: 4.5%;
    height: 3%;
  }
  .mouse-glow {
    top: 56.2%;
    left: 42.2%;
    width: 4.5%;
    height: 3%;
  }
  .switch {
    top: 18%;
    left: 90%;
    width: 5.3%;
    height: 9%;
  }
  .lamp-neon {
    top: 14.3%;
    left: 86.5%;
    width: 12.5%;
    height: 17%;
  }
  .lamp {
    top: 16.5%;
    left: -0.5%;
    width: 12%;
    height: 66%;
  }
  .light {
    top: -13px;
    left: -19%;
    width: 100%;
    height: 107%;
  }
  .ashtray-animation {
    display: none;
    z-index: 8;
    top: 53.5%;
    left: 5%;
    width: 8%;
    height: 9%;
  }
  .chair {
    top: 44%;
    left: 1%;
    width: 31%;
    height: 56%;
  }
  .plant {
    top: 4%;
    left: 9%;
    width: 23%;
    height: 31%;
  }
  .poster {
    top: 6%;
    left: 2%;
    width: 27%;
    height: 37%;
  }
  .bulletin-board {
    top: 2%;
    left: 30%;
    width: 57.5%;
    height: 40%;
  }
  .info {
    top: 23%;
    left: 63%;
    width: 7%;
    height: 8%;
  }
  .info-neon {
    top: 19.1%;
    left: 58.7%;
    width: 16.1%;
    height: 16.2%;
  }
  .info-hover {
    top: 33%;
  }
  .contact {
    top: 9%;
    left: 67%;
    width: 12%;
    height: 14%;
  }
  .contact-neon {
    top: 4.9%;
    left: 64%;
    width: 17.7%;
    height: 19%;
  }
  .about-me {
    top: 7%;
    right: 40.5%;
    width: 22.2%;
    height: 19.6%;
  }
  .about-neon {
    top: -0.4%;
    right: 37.9%;
    width: 32.1%;
    height: 35.1%;
  }
  .power {
    top: -14.6%;
    left: -19%;
    width: 130%;
    height: 120%;
  }
  .power-glow {
    top: 69.9%;
    left: 37.3%;
    width: 17%;
    height: 20.8%;
  }
  .power-socket {
    top: -20%;
    left: -22.5%;
    width: 149%;
    height: 125%;
  }
  .tech-stack {
    top: 67%;
    left: 62%;
    width: 25%;
    height: 20%;
  }
  .tech-stack-neon {
    top: 60%;
    left: 54.5%;
    width: 36%;
    height: 36.3%;
  }
}
@media (max-width: 480px) {
  header {
    width: 100vw;
    height: 100vh;
    padding: 3px;
    background-image: linear-gradient(to bottom left, rgb(0, 255, 0), black, black, black);
  }
  .desk {
    top: 48%;
    left: -11%;
    width: 117%;
    height: 42%;
  }
  .tech-stack {
    top: 67%;
    left: 71%;
    width: 39%;
    height: 20%;
  }
  .tech-stack-neon {
    top: 61%;
    left: 60.5%;
    width: 57%;
    height: 34.3%;
  }
  .lilypadmag {
    top: 8%;
    left: 28%;
    width: 99%;
    height: 110%;
  }
  .clothing {
    display: none;
  }
  .keyboard {
    top: 46%;
    left: 45%;
    width: 39%;
    height: 8%;
  }
  .right-speaker {
    top: 32%;
    left: 80%;
    width: 19.5%;
    height: 20%;
  }
  .left-speaker {
    top: 32%;
    left: 3%;
    width: 19.5%;
    height: 20%;
  }
  .speaker-glow {
    top: 30.15%;
    left: 81.3%;
    width: 9.2%;
    height: 26%;
  }
  .left-speaker-glow {
    top: 30.15%;
    left: 1.3%;
    width: 9.2%;
    height: 26.6%;
  }
  .computer-monitor {
    top: 28%;
    left: 16%;
    width: 38.8%;
    height: 25%;
  }
  .computer-glow {
    top: 16.9%;
    left: -5.5%;
    width: 50%;
    height: 40%;
  }
  .tower-glow {
    top: 60.7%;
    left: 50.8%;
    width: 5.5%;
    height: 3.2%;
  }
  .computer-tower {
    top: 56%;
    left: 49%;
    width: 21%;
    height: 28%;
  }
  .computer-keyboard {
    top: 55%;
    left: 4%;
    width: 45%;
    height: 6.5%;
  }
  .mouse-glow {
    top: 55.6%;
    left: 39.2%;
    width: 4.5%;
    height: 3%;
  }
  .black-screen {
    width: 21.5%;
    right: 61.5%;
    top: 30%;
    height: 15.5%;
  }
  .internet {
    width: 19.8%;
    right: 62.5%;
    top: 30.6%;
    height: 12.8%;
    rotate: 0.5deg;
  }
  .chair {
    top: 47%;
    left: 0%;
    width: 46%;
    height: 53%;
  }
  .dj {
    top: 85%;
    left: 44%;
    width: 44%;
    height: 15%;
  }
  .mixer-wire {
    top: 63%;
    left: 40%;
    width: 15%;
    height: 25%;
  }
  .soundcloud {
    top: 48%;
    left: 9%;
    width: 82%;
    height: 34%;
  }
  .clock-image {
    top: 29%;
    left: 82%;
    width: 16%;
    height: 6%;
  }
  .clock {
    top: 32.75%;
    left: 91.6%;
    font-size: 3vw;
    letter-spacing: 4px;
  }
  .plant {
    top: 18%;
    left: 51%;
    width: 41%;
    height: 31%;
  }
  .bulletin-board {
    top: 2%;
    left: 2%;
    width: 82.5%;
    height: 40%;
    z-index: 2;
  }
  .poster {
    display: none;
  }
  .about-me {
    top: 10%;
    right: 51.5%;
    width: 36.2%;
    height: 17.6%;
    z-index: 4;
  }
  .about-neon {
    right: 50.9%;
    width: 43.1%;
    height: 30.1%;
    top: 4%;
    z-index: 3;
  }
  .contact-neon {
    top: 2.9%;
    left: 50%;
    width: 33.7%;
    height: 19%;
  }
  .contact {
    top: 7%;
    left: 55%;
    width: 21%;
    height: 13%;
  }
  .switch {
    top: 16%;
    left: 89%;
    width: 8.3%;
    height: 9%;
  }
  .lamp-neon {
    top: 12.3%;
    left: 82.5%;
    width: 20.5%;
    height: 17%;
  }
  .lamp {
    top: 16.5%;
    left: -6.5%;
    width: 25%;
    height: 66%;
    z-index: 4;
  }
  .light {
    top: -12px;
    left: -37.5%;
    width: 178%;
    height: 107%;
  }
  .power-socket {
    top: -4%;
    left: -57.5%;
    width: 214%;
    height: 101%;
  }
  .power {
    top: -10.6%;
    left: -26%;
    width: 140%;
    height: 115%;
  }
  .power-glow {
    top: 72.5%;
    left: 35.3%;
    width: 17%;
    height: 15.8%;
  }
  .info {
    top: 23%;
    left: 46%;
    width: 11%;
    height: 8%;
    z-index: 6;
  }
  .info-neon {
    top: 19.1%;
    left: 40.7%;
    width: 22.1%;
    height: 16.2%;
  }
  .info-hover {
    top: 33%;
    left: 16%;
    width: 275px;
    height: 183px;
  }
  header {
    height: 85vh;
  }
}/*# sourceMappingURL=styles.css.map */