body {
    background-color: black;
    width: 100vw;
    height: 100vh;
    height: 100dvh;
    overflow: hidden;
}

@font-face {
    font-family: 'digital';
    src: url(../fonts/digital-7.ttf);
}

.title {
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    // text-decoration:  solid underline rgb(211, 0, 0) 5px;
    border-bottom: solid rgb(211, 0, 0) 5px;;
    margin-top: 50px;
    text-align: center;
    text-transform: uppercase;
}


