html {
    overflow: hidden;
    background-color: black;
}

header {
    width: 100vw;
    height: 100vh;
}

@font-face {
    font-family: 'digital';
    src: url(/Users/christianyuen/Desktop/portfolio/fonts/digital-7.ttf);
}


