html {
    overflow: hidden;
    background-color: black;
}

header {
    width: 100vw;
    height: 100vh;
    padding: 9px;
    background-image: linear-gradient(to bottom left, rgb(0, 255, 0), black, black, black);
}

@font-face {
    font-family: 'digital';
    src: url(/Users/christianyuen/Desktop/portfolio/fonts/digital-7.ttf);
}


