.beat-store-container {
    display: flex;
    justify-content: center;
    background-color: rgb(30, 30, 30);
}

.beat-store-home {
    z-index: 3;
    position: absolute;
    height: auto;
    filter: invert(100);
    top: 16px;
    right: 42px;
    width: 35px;
    padding-bottom: 5px;
    transition: all ease-in-out 0.1s;
    &:hover {
        cursor: pointer;
        border-bottom: rgb(0, 213, 255) 3px solid;
    }
}

.container {
    display: flex;
    justify-content: center;
    position: relative;
    width: 80%;
    padding-top: 60px;
    padding-bottom: 200px;
}

.beat-store {
    height: 85vh;
}

