.beat-store-container {
    display: flex;
    justify-content: center;
    background-color: black;
    flex-direction: column;
    h1 {
        margin-top: 30px;
        color: rgb(21, 255, 0);
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
        text-transform: uppercase;
    }
}

.beat-store-home {
    z-index: 3;
    position: absolute;
    height: auto;
    filter: invert(100);
    top: 16px;
    right: 35px;
    width: 40px;
    padding-bottom: 5px;
    transition: all ease-in-out 0.1s;
    opacity: 0.7;
    &:hover {
        cursor: pointer;
        border-bottom: rgb(0, 213, 255) 3px solid;
    }
}

.container {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    // padding-top: 60px;
    padding-bottom: 200px;

}

.beat-store {
    height: 85vh;
    border: none;
}

