.contact-container {
    padding-top: 20px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.contact-container h1 {
    margin-bottom: 60px;
}

.contact-container a { 
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    transition: all ease-in-out 0.3s;
    &:hover,
    &:active,
    &:focus {
        color: rgb(6, 255, 6);
    }
}

.contact-container p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.contact-container a img {
    filter: invert(1);
    width: 200px;
    transition: all ease-in-out 0.3s;
    &:hover,
    &:focus,
    &:active {
        transform: scale(1.07);
    }
}

.send-email {
    color: rgb(0, 255, 0);
    font-family: 'Luckiest Guy', cursive;
    font-size: 1rem;
    padding: 0;
    margin: 0;
    -webkit-animation: email 1s ease-in-out infinite alternate;
    -moz-animation: email 1s ease-in-out infinite alternate;
    animation: email 1s ease-in-out infinite alternate;
}

@keyframes email {
    from {
        text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px black, 0 0 40px black, 0 0 50px black, 0 0 60px black, 0 0 70px black;
    }
    to {
        text-shadow: 0 0 20px #fff, 0 0 30px grey, 0 0 40px grey, 0 0 50px grey, 0 0 60px grey, 0 0 70px grey, 0 0 80px grey;
    }
}


