.contact-container {
    padding-top: 20px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.contact-container h1 {
    margin-bottom: 60px;
}

.contact-container a { 
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    transition: all ease-in-out 0.3s;
    &:hover,
    &:active,
    &:focus {
        color: rgb(6, 255, 6);
    }
}

.contact-container p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

a img {
    filter: invert(1);
    width: 200px;
    transition: all ease-in-out 0.3s;
    &:hover,
    &:focus,
    &:active {
        transform: scale(1.07);
    }
}

.contact-container h2 {
    color: white;
    font-family: cursive;
    font-size: 1rem;
    padding: 0;
    margin: 0;
}


