.contact-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 60px 100px;
    position: relative;
}

.send-email {
    filter: invert(100);
    width: 250px;
    transition: all ease-in-out 0.3s;
    &:hover,
    &:hover + .contact-hover {
        transform: scale(1.1);
        visibility: visible;
    }
}

.flex-container {
    display: flex;
    flex-direction: column;
}

.contact-hover {
    visibility: hidden;
    pointer-events: none;
    position: absolute;
    display: flex;
    justify-content: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.contact-hover-text {
    color: rgb(21, 255, 0);
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    margin-top: 290px;
}

.title-container {
    display: flex;
    justify-content: center;
}

@media (max-width: 480px) {
    .contact-container {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
        padding: 60px 0px;
        position: relative;
    }
}

@media (max-width: 810px) {
    .projects .project {
        width: 70%;
    }
}
