
a {
    color: #fff;
    text-decoration: none;
}

.p-menu1{
    height: 100%;
    position: absolute;
    z-index: 10;
}

  /* Hamburger */
.hamburger1 {
    height: 39px;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    z-index: 120;
    cursor: pointer;
    filter: invert(100);
}

.hamburger1 div {
    background-color: rgb(61, 61, 61);
    position: relative;
    width: 40px;
    height: 5px;
    margin-top: 7px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

#toggle1 {
    display: none;
}

#toggle1:checked + .hamburger1 .top {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin-top: 22.5px;
}

#toggle1:checked + .hamburger1 .meat {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-top: -5px;
}

#toggle1:checked + .hamburger1 .bottom {
    -webkit-transform: scale(0);
    transform: scale(0);
}

#toggle1:checked ~ .menu1 {
    height: 340px;
}


  /* Menu */
.menu1 {
    position: absolute;
    width: 100vw;
    background-color: black;
    text-align: center;
    display: flex;
    padding: 0;
    list-style: none;
    height: 0px;
    overflow: hidden;
    transition: height 0.4s ease;
    z-index: 120;
    transition: all 0.3s ease;
    flex-direction: column;
}

.menu1 a:first-child {
    margin-top: 40px;
}

.menu1 a:last-child {
    margin-bottom: 40px;
}

.link1 {
    width: 100%;
    margin: 0;
    padding: 10px 0;
    font: 700 20px 'Oswald', sans-serif;
}

.link1:hover {
    background-color: #fff;
    color: rgb(61, 61, 61);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}