.radio-container {
    display: flex;
    height: 100vh;
    width: 100vw;
    padding: 100px;
    justify-content: center;
    flex-direction: column;
}

.soundcloud-full-page {
    width: 100%;
    height: 85%;
}
