
.room {
    width: 100%;
    height: 100%;
    position: relative;
}

// ANIMATION
.ashtray-animation {
    position: absolute;
    z-index: 8;
    top: 54%;
    left: 23%;
    width: 5%;
    height: 6%;
}

// BACKGROUND
.chair {
    top: 48%;
    left: 9%;
    width: 25%;
    height: 52%;
    position: absolute;
    z-index: 7;
}

.plant {
    top: 12%;
    left: 24%;
    width: 17%;
    height: 27%;
    position: absolute;
    z-index: 5;
}

.carpet {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
}

.backdrop {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}

.baseboard {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
}

.bulletin-board {
    top: 7%;
    left: 33%;
    width: 37.5%;
    height: 36%;
    position: absolute;
    z-index: 3;
}
// ***

// STEREO
.stereo {
    top: 7%;
    left: 84%;
    width: 15%;
    height: 19%;
    position: absolute;
    z-index: 5;
    transition: all 0.3s ease-in-out;
    &:hover,
    &:hover + .stereo-glow,
    &:focus {
        transform: scale(1.05);
        cursor: pointer;
        visibility: visible;
    }
}

.stereo-glow {
    top: -0.1%;
    left: 87.3%;
    width: 12%;
    height: 19%;
    position: absolute;
    transition: all 0s ease-in-out;
    pointer-events: none;
    visibility: hidden;
    z-index: 10;
}
// ***

// MIXER
.dj {
    top: 83%;
    left: 32%;
    width: 27%;
    height: 16%;
    position: absolute;
    z-index: 9;
    transition: all 0.3s ease-in-out;
    &:hover,
    &:hover + .dj-glow,
    &:focus {
        visibility: visible;
        transform: scale(1.1);
        cursor: pointer;
    }
}

.mixer-hover {
    // display: none;
}

.dj-glow {
    // visibility: hidden;
    top: 81.9%;
    left: 29.3%;
    width: 35.2%;
    height: 19%;
    z-index: 11;
    position: absolute;
    transition: all 0s ease-in-out;
    pointer-events: none;
}

.mixer-wire {
    top: 59%;
    left: 27%;
    width: 15%;
    height: 25%;
    position: absolute;
    z-index: 3;
}

.mixer-neon {
    visibility: hidden;
    top: 81.9%;
    left: 29.3%;
    width: 100%;
    height: 19%;
    z-index: 8;
    position: absolute;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
}

.soundcloud {
    visibility: hidden;
    position: absolute;
    z-index: 10;
    top: 65%;
    left: 4%;
    width: 28%;
    height: 30%;
    border: 1px rgb(47, 255, 0) solid;
    &:hover {
        border: 2px white solid; 
    }
}

// ***

// GITHUB
.github {
    display: none;
    position: absolute;
    z-index: 5;
    width: 5%;
    height: 4.3%;
    top: 33%;
    right: 33%;
    transition: all ease-in-out 0.2s;
    &:hover {
        transform: scale(1.15);
        cursor: pointer;
    }
}

// ABOUT
.about-me {
    top: 12%;
    right: 44.5%;
    width: 14.2%;
    height: 16.6%;
    position: absolute;
    z-index: 5;
    transition: all 0.3s ease-in-out;
    &:hover,
    &:focus {
        transform: scale(1.1);
        cursor: pointer;
    }
}
.about-me-anchor {
    &:hover + .about-neon {
        visibility: visible;
    }
}

.about-neon {
    top: 5.6%;
    right: 40.9%;
    width: 23.1%;
    height: 30.1%;
    position: absolute;
    z-index: 4;
    pointer-events: none;
    transition: all 0s ease-in-out;
    visibility: hidden;
}
// ***

// INFO
.info {
    top: 23%;
    left: 57%;
    width: 4%;
    height: 6%;
    position: absolute;
    z-index: 5;
    transition: all 0.3s ease-in-out;
    &:hover,
    &:hover + .info-neon,
    &:hover + .info-hover,
    &:focus {
        transform: scale(1.2);
        cursor: pointer;
        visibility: visible;
    }
}

.info-neon {
    top: 19.1%;
    left: 53.7%;
    width: 10.1%;
    height: 14.2%;
    position: absolute;
    z-index: 4;
    pointer-events: none;
    transition: all 0.1s ease-in-out;
    opacity: 0.8;
    visibility: hidden;
}

.info-hover {
    visibility: hidden;
    position: absolute;
    position: absolute;
    z-index: 10;
    background-color: black;
    top: 31%;
    left: 40%;
    border: 1px rgb(0, 255, 17) solid;
    width: 275px;
    height: 197px;
    font-family: 'Courier New', Courier, monospace;
    
    p {
        color: white;
        padding: 10px 20px;
        font-family: 'Courier New', Courier, monospace;
        font-size: 0.9rem;
        margin: 0;
        &:first-child {
            margin-top: 6px;
        }
        &:last-child {
            margin-top: -10px;
        }
    }
}
// ***

// CONTACT
.contact {
    top: 12%;
    left: 57%;
    width: 8%;
    height: 11%;
    position: absolute;
    z-index: 5;
    transition: all 0.3s ease-in-out;
    &:hover,
    &:focus {
        transform: scale(1.1);
        cursor: pointer;
    }
}

.contact-anchor {
    &:hover + .contact-neon{
        visibility: visible;
    }
}

.contact-neon {
    top: 6.9%;
    left: 54%;
    width: 14.7%;
    height: 19%;
    position: absolute;
    z-index: 4;
    pointer-events: none;
    transition: all 0.1s ease-in-out;
    visibility: hidden;
}

// LAMP & SWITCH
.lamp {
    top: 18.5%;
    left: 18.5%;
    width: 10%;
    height: 66%;
    position: absolute;
    z-index: 3;
}

.switch {
    top: 29%;
    left: 80%;
    width: 3.3%;
    height: 7%;
    position: absolute;
    z-index: 4;
    transition: all 0.3s ease-in-out;
    &:hover,
    &:hover + .lamp-neon,
    &:focus {
        transform: scale(1.2);
        cursor: pointer;
        visibility: visible;
    }
}

.lamp-neon {
    top: 24.3%;
    left: 75.5%;
    width: 12.5%;
    height: 17%;
    position: absolute;
    z-index: 3;
    pointer-events: none;
    transition: all 0.1s ease-in-out;
    visibility: hidden;
}


// POWER
.power-socket {
    top: 1%;
    left: 6.5%;
    width: 91%;
    height: 94%;
    pointer-events: none;
    position: absolute;
    z-index: 3;
}

.power {
    top: 0;
    left: 0%;
    width: 100%;
    height: 100%;
    pointer-events: none;
    position: absolute;
    z-index: 3;
}

.power-glow {
    top: 70.3%;
    left: 43.3%;
    width: 13%;
    height: 17.8%;
    z-index: 4;
    position: absolute;
    transition: all 0s ease-in-out;
    pointer-events: none;
}

// STATIONARY
.cody-art {
    top: 7%;
    left: 12.7%;
    width: 15.6%;
    height: 31%;
    position: absolute;
    z-index: 2;
    pointer-events: none;
}

.adam-art {
    top: 10%;
    left: 0%;
    width: 9%;
    height: 32%;
    position: absolute;
    z-index: 6;
    pointer-events: none;
}

.clothing {
    top: 69%;
    left: 72%;
    width: 28%;
    height: 31%;
    position: absolute;
    z-index: 6;
    pointer-events: none;
}

.lilypadmag {
    top: 18%;
    left: 31%;
    width: 60%;
    height: 100%;
    position: absolute;
    z-index: 2;
    pointer-events: none;
}

.poster {
    top: 6%;
    left: 12%;
    width: 17%;
    height: 33%;
    position: absolute;
    z-index: 2;
}

.desk {
    top: 48%;
    left: 19%;
    width: 66%;
    height: 40%;
    position: absolute;
    z-index: 4;
}

.door {
    top: 7%;
    left: 0%;
    width: 12%;
    height: 90%;
    position: absolute;
    z-index: 3;
}

.dresser {
    top: 25%;
    left: 84%;
    width: 16%;
    height: 60%;
    position: absolute;
    z-index: 3;
}


// TECH STACK
.skills-anchor {
    &:hover + .tech-stack-neon {
        visibility: visible;
    }
}

.tech-stack {
    top: 67%;
    left: 62%;
    width: 17%;
    height: 17%;
    position: absolute;
    z-index: 6;
    transition: all 0.3s ease-in-out;
    &:hover,
    &:focus {
        transform: scale(1.1);
        cursor: pointer;
    }
}

.tech-stack-neon {
    top: 59%;
    left: 57.5%;
    width: 24%;
    height: 33.3%;
    position: absolute;
    z-index: 5;
    pointer-events: none;
    transition: all 0.1s ease-in-out;
    visibility: hidden;
}

// MUSIC

.beat-store-anchor {
    &:hover + .music-glow {
        display: inline;
    }
}
.keyboard {
    top: 44%;
    left: 47%;
    width: 24%;
    height: 8%;
    position: absolute;
    z-index: 6;
    transition: all 0.3s ease-in-out;
    &:hover,
    &:focus {
        transform: scale(1.1);
        cursor: pointer;
        
    }
}

.music-glow {
    display: none;
    z-index: 7;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.keyboard-glow {
    top: 41%;
    left: 52%;
    width: 24%;
    height: 8%;
    position: absolute;
    z-index: 6;
    pointer-events: none;
    transition: all 0s ease-in-out;
}

.right-speaker {
    top: 37%;
    left: 71%;
    width: 8.5%;
    height: 16%;
    position: absolute;
    z-index: 5;
    transition: all 0.3s ease-in-out;
}

.speaker-glow {
    top: 36.05%;
    left: 71.9%;
    width: 3.2%;
    height: 20%;
    position: absolute;
    z-index: 6;
    pointer-events: none;
}

.left-speaker {
    top: 37%;
    left: 28%;
    width: 8.5%;
    height: 16%;
    position: absolute;
    z-index: 5;
}

.left-speaker-glow {
    top: 36.2%;
    left: 27.5%;
    width: 3.2%;
    height: 20%;
    position: absolute;
    z-index: 7;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
}

.keyboard-neon {
    top: 38.9%;
    left: 29.4%;
    width: 3.2%;
    height: 16%;
    position: absolute;
    z-index: 7;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
}

// PHONE
.phone {
    display: none;
    top: 30%;
    left: 69.5%;
    width: 10%;
    height: 12.5%;
    position: absolute;
    z-index: 8;
    transition: all 0.3s ease-in-out;
    &:hover,
    &:focus {
        transform: scale(1.2);
        cursor: pointer;
    }
}

.phone-neon {
    top: 24.5%;
    left: 65.6%;
    width: 16.5%;
    height: 21%;
    position: absolute;
    z-index: 7;
    pointer-events: none;
    transition: all 0.1s ease-in-out;
    visibility: hidden;
}

.phone-anchor {
    &:hover + .phone-neon {
        visibility: visible;
    }
}


// COMPUTER 

.black-screen {
    position: absolute;
    width: 9.8%;
    z-index: 7;
    right: 56%;
    top: 31.5%;
    transition: all ease-in-out 0.3s;
    pointer-events: none;
    height: 16%;
}

.internet {
    position: absolute;
    width: 8.8%;
    z-index: 8;
    right: 56.5%;
    top: 32.5%;
    rotate: 2deg;
    opacity: 0.9;
    transition: all ease-in-out 0.3s;
    pointer-events: none;
    height: 12%;
}

.computer-monitor {
    top: 30%;
    left: 34%;
    width: 16.8%;
    height: 24%;
    position: absolute;
    z-index: 7;
    transition: all 0.2s ease-in-out;
    &:hover,
    &:focus {
        transform: scale(1.1);
        cursor: pointer;
        display: inline;
    }
}

.computer-anchor {
    &:hover + .comp-glow
    {
        transform: scale(1.1);
        display: inline;
        opacity: 1;
    }
}

.comp-glow {
    display: none;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.computer-glow {
    top: 18.2%;
    left: 20.2%;
    width: 31%;
    height: 40%;
    position: absolute;
    z-index: 8;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
}

.computer-tower {
    top: 56%;
    left: 53%;
    width: 8%;
    height: 25%;
    position: absolute;
    z-index: 6;
}

.tower-glow {
    top: 60%;
    left: 53.5%;
    width: 2.5%;
    height: 3%;
    position: absolute;
    z-index: 8;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
}

.mouse-glow {
    top: 55.5%;
    left: 45.5%;
    width: 2.5%;
    height: 3%;
    position: absolute;
    z-index: 8;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
}

.computer-keyboard {
    top: 55%;
    left: 27%;
    width: 24%;
    height: 6%;
    position: absolute;
    z-index: 6;
    transition: all 0.3s ease-in-out;
}

// LIGHT DARK
.shade {
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 94%;
    height: 100%;
    position: absolute;
    z-index: 3;
    pointer-events: none;
}

.light {
    top: 0;
    left: -1%;
    width: 100%;
    height: 107%;
    position: absolute;
    z-index: 10;
    pointer-events: none;
    visibility: hidden;
}

.dark {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
    opacity: 0.7;
    background-color: black;
    pointer-events: none;
    display: none;
}

// CLOCK

.clock {
    position: absolute;
    z-index: 6;
    top: 36.75%;
    left: 75.7%;
    transform: translateX(-50%) translateY(-50%);
    color: rgb(0, 255, 0);
    font-size: 1.7vw;
    font-family: "digital";
    letter-spacing: 5px;
    pointer-events: none;
}

.clock-image {
    position: absolute;
    z-index: 6;
    top: 33%;
    left: 70.5%;
    width: 9%;
    height: 6%;
}