.skills {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 80px;
    padding-bottom: 50px;
    position: relative;
}

.skills-paper {
    height: 550px;
    width: 450px;
    z-index: 2;
    position: absolute;
}

.skills-title {
    height: 700px;
    width: 450px;
    top: 70px;
    z-index: 3;
    position: absolute;
}

.skill {
    height: 550px;
    width: 480px;
    z-index: 4;
    position: absolute;
    &:hover + .skill-names,
    &:hover,
    &:focus {
        display: inline-block;
    }
}

.skill-names {
    height: 550px;
    width: 480px;
    z-index: 4;
    position: absolute;
    display: none;
    transition: all ease-in-out 0.3s;
    pointer-events: none;
}

// MEDIA QUERIES
@media (max-width: 550px) {
    .skills-paper {
        height: 500px;
        width: 400px;
    }
    
    .skills-title {
        height: 760px;
        width: 410px;
    }
    
    .skill {
        height: 500px;
        width: 400px;
    }
    
    .skill-names {
        height: 500px;
        width: 400px;
    }
}

@media (max-width: 450px) {
    .skills-paper {
        height: 400px;
        width: 300px;
        z-index: 2;
        position: absolute;
    }
    
    .skills-title {
        height: 500px;
        width: 300px;
        z-index: 3;
        position: absolute;
    }
    
    .skill {
        height: 400px;
        width: 300px;
        z-index: 4;
        position: absolute;
        &:hover + .skill-names,
        &:hover,
        &:focus {
            display: inline-block;
        }
    }
    
    .skill-names {
        height: 400px;
        width: 300px;
        z-index: 4;
        position: absolute;
        display: none;
        transition: all ease-in-out 0.3s;
        pointer-events: none;
    }
}


